[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RGoogleAnalyticsPremium"]
	path = RGoogleAnalyticsPremium
	url = https://github.com/cran/RGoogleAnalyticsPremium
